	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/12/2017 13:29
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-teatro-de-la-caridad:before { content: "\f100"; }
.flaticon-royal-museum-of-the-armed-forces:before { content: "\f101"; }
.flaticon-parthenon:before { content: "\f102"; }
.flaticon-marina-bay-sands:before { content: "\f103"; }
.flaticon-samarra-minaret:before { content: "\f104"; }
.flaticon-chiang-kai-shek-memorial:before { content: "\f105"; }
.flaticon-heuvelse-kerk-tilburg:before { content: "\f106"; }
.flaticon-cathedral-of-cordoba:before { content: "\f107"; }
.flaticon-london-bridge:before { content: "\f108"; }
.flaticon-taj-mahal:before { content: "\f109"; }
.flaticon-leaning-tower-of-pisa:before { content: "\f10a"; }
.flaticon-burj-al-arab:before { content: "\f10b"; }
.flaticon-gate-of-india:before { content: "\f10c"; }
.flaticon-osaka-castle:before { content: "\f10d"; }
.flaticon-statue-of-liberty:before { content: "\f10e"; }


